<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Adicionámos append="true" por segurança e mudámos o caminho para a pasta do WildFly -->
        <RollingFile name="AuditFile"
                     fileName="${sys:jboss.server.log.dir}/auditoria-crm.log"
                     filePattern="${sys:jboss.server.log.dir}/auditoria-crm-%d{yyyy-MM-dd}-%i.log"
                     append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5level | %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AuditFile"/>
        </Root>
    </Loggers>
</Configuration>